.dashIndex {
    font-family: 'Montserrat', sans-serif;
}
.dashIndex {
    width: 100%;
    height: 2rem;
    color:white;
}
.dashIndex {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.dash {
    position: relative;
    display:flex;
    gap: 10rem;
    width: 100%;
    height: 100vh;
    background-image: url(/img/dashboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.dashNote{
    color:white;
    z-index:100;
    font-variant:small-caps;
    text-align:center;
    font-weight:900;
    margin-top:1rem;
}
.dashOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}
.dashContent {
    margintop
    top:0;
    width: 25%;
    height: 50vh;
    background-color: rgba(245, 40, 145, .5);
    border-radius:0rem 3rem 1rem 0rem;
}
.dashContent .btns {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:80%;
    gap:.5rem;;
}
.btns a{
    border:1px solid lightpink;
    border-radius:1rem;
    width:100%;
    text-align:center;
    padding:1rem;
    color:white;
    font-variant:small-caps;
    font-size:1rem;
    font-weight:700;
    transition: 400ms all ease;
}
.btns a:hover {
    background-color: lightpink;
    border: 1px solid rgba(245, 40, 145, .5);
    font-size: 1.4rem;
}
.infoDetails {
    display: flex;
    gap: 2rem;

}
.dashDetail {
    background-color: rgba(245, 40, 145, .5);
    width: 12rem;
    height: 15rem;
    display: flex;
    margin-top:4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    text-align:center;
    border-radius:1rem;
    position:relative;
}
.dashDetail h1 {
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    color: white;
    position:absolute;
    top:1rem;
}
.dashDetail a {
    position: absolute;
    bottom: 2rem;
}
