/*LOGIN SECTION*/
.login {
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y:hidden;
}

.section {
    position: absolute;
    right: 20%;
    top: 25%;
    text-align: center;
    background-color: rgba(250, 16, 137, 0.38);
    border-radius: 1rem;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    z-index: 6;
}

input[type="email"], input[type="password"] {
    display: block;
    border: 0;
    padding: 5px;
    background-color: rgba(234, 229, 232, 0.48);
    width: 339px;
    height: 36px;
    margin: 20px auto;
    font-size: 17px;
    border-radius: 3px;
    text-indent: 5px;
    color: white;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}
.login h6{
    font-variant:small-caps;
    color:white;
}
.login img{
    width:12rem;
}

input[type="submit"] {
    color: #FFF;
    background-color: rgba(251, 124, 190, 0.48);
    border: 0;
    padding: 7px 8px;
    font-size: 17px;
    font-variant: small-caps;
    border-radius: 3px;
    margin-left: 109px
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { 
    color: white;
}

::-moz-placeholder { 
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

@media (max-width: 920px){
    .section {
        position: absolute;
        right: 1.5%;
        top: 30%;
        text-align: center;
        background-color: rgba(250, 16, 137, 0.38);
        border-radius: 1rem;
        padding: 3rem;
        width: fit-content;
        height: fit-content;
        z-index: 6;
    }
}


/*REGISTRATION PORTAL*/
.rapper {
    background-image: url(/img/longhair.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.registration_form {
    position:absolute;
    top:15%;
    left:38%;
    background-color: rgba(250, 16, 137, 0.38);
    padding: 1rem;
    border-radius: 5px;
    width: 28rem;
}

.registration_form .title {
    text-align: center;
    font-size: 1.4rem;;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    font-weight: 700;
}

.form_wrap {
    margin-top: .2rem;
}

.form_wrap .input_wrap {
    margin-bottom: .3rem;
}

.form_wrap .input_wrap:last-child {
    margin-bottom: 0;
}

.form_wrap .input_wrap label {
    display: block;
    margin-bottom: .2rem;
    color: white;
    font-variant:small-caps;
    font-weight:bold;
}

.form_wrap .input_grp {
display: flex;
justify-content: space-between;
}

.form_wrap .input_grp input[type="text"] {
    width: 12.3rem;;
}

.form_wrap input[type="text"] {
    width: 100%;
    height:2.6rem;
    border-radius: .5rem;
    border: 1px solid white;
    padding: 10px;
    outline: none;
    margin-top:.8rem;
}
.form_wrap select {
    width: 100%;
    height: 2rem;
    padding: 0;
    border-radius: .5rem;
    margin-top: .8rem;
}
.form_wrap input[type="text"]:focus {
border-color: #ebd0ce;
}

.form_wrap ul {
background: #fff;
border-radius: .2rem;
display: flex;
justify-content: center;
}

.form_wrap .input_radio:checked ~ span {
background: #ebd0ce;
}

.form_wrap .submit_btn {
    width: 100%;
    margin: .6rem auto;
    background: rgba(251, 124, 190, 0.68);
    padding: .7rem;
    border: 0;
    border-radius: .2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
}

.form_wrap .submit_btn:hover {
background: #ffd5d2;
}

@media (max-width: 920px) {
    .registration_form {
        position: absolute;
        left: 1.6rem;
        top: 10%;
        padding: 1.4rem;
        border-radius: 5px;
        width: 28rem;
        z-index: 6;
    }
}