@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.homeLanding {
    width: 100%;
    height: 100vh;
    background-image: url(/img/bgBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
li {
    list-style: none;
}
a{
    text-decoration:none;
}
.brandName {
    z-index: 20;
    display: block;
    position: absolute;
    left: -.5rem;
    top: .8rem;
    z-index: 0;
    width: 14rem;
}
.bgOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.lower-Nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    top:-100%;
    width: 100%;
    height:100vh;
    font-variant: small-caps;
    font-weight:700;
    letter-spacing: 1px;
    background: rgba(145, 255, 255, 0.65);
    z-index: 7;
    color: white;
    transition: 400ms all ease-in-out;
}
.openNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    background: rgba(145, 255, 255, 0.65);
    z-index: 7;
    color: white;
}
.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 3.5rem;
    padding-top: 10rem;

}
.navLinks li a {
    color: white;
    font-size: 1.2rem;
}
.bi-list {
    display: block;
    position: absolute;
    right: 2rem;
    top: .6rem;
    cursor: pointer;
    font-size:2.5rem;
    color:white;
    z-index:7;
}
@media (max-width: 920px) {
    .homeLanding {
        width: 100%;
        height: 100vh;
        background-image: url(/img/mobile-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*ABOUT SECTION*/
.About {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #dee7ec;
    overflow:hidden;
}
.abt-topic{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.aboutHead {
    font-weight: 300;
    font-family: Oswald;
    text-align: center;
}
.aboutHead span {
    color: #fc89f2;
}

.under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.3rem;
}
.under span {
    background: black;
    width: 4rem;
    height: .2rem;
    margin-top: -.6rem;
}
.under .span1{
    background:#fc89f2;
}
.abt-content {
    margin-top:1.5rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.content1 {
    background: #0ae8b5;
    padding: 6rem;
    text-align:center;
}
.content2 {
    background: #fcbe78;
    padding: 3rem;
    text-align: center;
}
.content3 {
    background: #ebffff;
    padding: 5rem;
}
.content4 {
    background: #f26941;
    padding:3rem;
    border-radius:50%;
}
.content5 {
    background: #78c1fa;
    padding: 5rem;
    text-align: center;
}
.content6 {
    background: #fc89f2;
    padding: 2rem;
}
.content7 {
    background: #456bd9;
    padding: 6rem;
}
.abt-lorem{
    width:80%;
    margin:.8rem auto;
    text-align:center;
}

