@using Microsoft.AspNetCore.Identity
@using Xaloon.Areas.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Xaloon.Areas.Customer.Models.Appointment


<div class="dash">


    <div class="dashContent">
        <div class="greetNote">

            @if (SignInManager.IsSignedIn(User))
            {

               <h4 class="dashNote">Welcome to your Dashboard <span>@((await UserManager.GetUserAsync(User)).FirstName)</span></h4>
            }
        </div>
        <div class="btns">
            <a asp-controller="Appointments" asp-action="Create">Book New Appointment</a>

            <a asp-area="Customer" asp-controller="Dashboard" asp-action="Index">View Booked Appointments</a>

            <a href="tel:+2348033954540">Call Saloon</a>

            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">View Profile</a>

            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link px-lg-3 py-3 py-lg-4">Logout</button>
            </form>
        </div>
        
    </div>
    @*<div class="infoDetails">
        <div class="dashDetail">
            <h1>0</h1>
            <h5>Appointments</h5>
            <a>View</a>
        </div>

        <div class="dashDetail">
            <h1>0</h1>
            <h5>Approved Appointments</h5>
            <a >View</a>
        </div>
    </div>*@

</div>

