@{
    ViewData["Title"] = "Home Page";
}


<div class="mainPage">
    @*LANDING PAGE*@
    <section class="homeLanding">
        <div class="bgOverlay"></div> 
    </section>


    @*ABOUT PAGE*@
    <section class="About">
        <div class="abt-topic" id="About">
            <h1 class="aboutHead">About <span>Xaloon</span></h1>
            <div class="under">
                <span class="span1"></span>
                <span></span>
            </div>
        </div>
            <h6 class="abt-subhead">Our Services Include:</h6>
        <div class="abt-content">
            <div class="content1">
                <h5>Hair Saloon</h5>
            </div>
            <div class="content2">
                <h5>Barber`s Shop</h5>
            </div>
            <div class="content3">
                <h5>Nail Tech</h5>
            </div>
            <div class="content4">
                <h5>Facials</h5>
            </div>
            <div class="content5">
                <h5>Make Up</h5>
            </div>
            <div class="content6">
                <h5>Body Massage  </h5>
            </div>
            <div class="content7">
                <h5>Skin Care</h5>
            </div>
        </div>
        <p class="abt-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Cras ex arcu, varius nec congue at, porttitor pulvinar
            mi. Vestibulum scelerisque nulla ornare ex facilisis, 
            vel egestas elit dictum. Curabitur id facilisis 
            turpis. Sed ex ligula, pellentesque at rhoncus ac, 
            facilisis vitae lacus. In rhoncus mauris nisl, non 
            dictum elit laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Cras ex arcu, varius nec congue at, porttitor pulvinar
            mi. Vestibulum scelerisque nulla ornare ex facilisis, 
            vel egestas elit dictum. Curabitur id facilisis 
            turpis. Sed ex ligula, pellentesque at rhoncus ac, 
            facilisis vitae lacus. In rhoncus mauris nisl, non 
            dictum elit laoreet.</p>
    </section>

    @*Photos*@
    <section class="photos" id="Photos">
        <div id="gallery" class="container-fluid">  
            <img src="/img/bg7.jpg" class="img-responsive">
            <img src="/img/braid1.jpg" class="img-responsive">
            <img src="/img/bg3.jpg" class="img-responsive">
            <img src="/img/pexels-monstera-6238119.jpg" class="vid">
            <img src="/img/eyes.jpg" class="img-responsive">
            <img src="/img/longBraid.jpg" class="img-responsive">
            <img src="/img/longpics.jpg" class="img-responsive">
            <img src="/img/longhair.jpg" class="card img-responsive">
            <img src="/img/redhair.jpg" class="img-responsive">
            <img src="/img/blownHair.jpg" class="img-responsive">
            <img src="/img/storm hair.jpg" class="img-responsive">
            <img src="/img/maxresdefault.jpg" class="img-responsive">
            <img src="/img/eysglass.jpg" class="img-responsive">
            <img src="/img/pedicure1.jpg" class="img-responsive">
            <img src="/img/salon1.jpg" class="img-responsive">
            <img src="/img/hair1.jpg" class="img-responsive">

        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                 <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<partial name="_FooterPartial" />
